src/main/resources/course_details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://in28minutes.com/courses" xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <!-- REQUEST FOR GET ONE COURSE -->
    <xs:element name="GetCourseDetailsRequest"
                xmlns:cour="http://in28minutes.com/courses">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="id">
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>


    <!-- REQUEST TO DELETE  ONE COURSE -->
    <xs:element name="DeleteCourseDetailsRequest"
                xmlns:cour="http://in28minutes.com/courses">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="id">
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>


    <!--  RESPONSE FOR GET ONE COURSE -->
   <xs:element name="GetCourseDetailsResponse">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="CourseDetails" type="cour:CourseDetails"
                      xmlns:cour="http://in28minutes.com/courses">
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <!--  RESPONSE TO DELETE ONE COURSE -->
    <xs:element name="DeleteCourseDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <!--1 for success 0 for fail-->
                <xs:element name="Status" type="cour:Status"
                            xmlns:cour="http://in28minutes.com/courses">
                </xs:element>
            </xs:sequence>

        </xs:complexType>
    </xs:element>

    <!-- REQUEST FOR GET ALL COURSE -->
    <xs:element name="GetALLCourseDetailsRequest"
                xmlns:cour="http://in28minutes.com/courses">
        <xs:complexType>
        </xs:complexType>

    </xs:element>




    <!--  RESPONSE FOR GET ALL COURSES -->
    <xs:element name="GetALLCourseDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CourseDetails" type="cour:CourseDetails" maxOccurs="unbounded"
                            xmlns:cour="http://in28minutes.com/courses">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCESS"/>
            <xs:enumeration value="FAILURE"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:complexType name="CourseDetails">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>


